{% extends 'layout.html' %}

{% block content %}
<a href="{{url_for('blog.add')}}">Add</a>
<a href="{{url_for('user.user_list')}}">Users</a>

<form action="{{url_for('blog.index')}}">
    <input type="text" name="key"><input type="submit" value="Search">
</form>

{%for blog in blogs %}

<h3>{{blog[1]}}</h3>
{{blog[2]}}<br>
[<a href="{{url_for('blog.edit', id=blog[0])}}">edit</a>
<a href="{{url_for('blog.delete', id=blog[0])}}">delete</a>]<br><br>
{%endfor%}

{% if page > 1 %}
<a href="{{url_for('blog.index', page=page-1)}}">Prev</a>
{% endif %}
<a href="{{url_for('blog.index', page=page+1)}}">Next</a>

{% endblock %}